/* 消息样式 */
message {
    &.primary {
        background-color: #d7ecfa;
        color: #0a0a0a;
    }

    &.secondary {
        background-color: #eaeaea;
        color: #0a0a0a;
    }

    &.success {
        background-color: #e1faea;
        color: #0a0a0a;
    }

    &.alert {
        background-color: #f7e4e1;
        color: #0a0a0a;
    }

    &.warning {
        background-color: #fff3d9;
        color: #0a0a0a;
    }

    &:after {
        border-radius: 50%;
    }
}