div {
    display: flex;
    flex-flow: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ff3f43;
}

hr {
    border: solid .5px #ad4a4a;
    margin-top: 2rem;
    width: 80%;
    max-width: 50rem;
}